.footer {
  background-color: $bg-color1;
  color: $font-color1;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  padding: 35px;
  font-family: $font-quick;
  .comp-footer {
    h2 {
      padding-bottom: 8px;
    }
    .comp-about {
      width: 372px;
    }
  }
  .footer-ul {
    position: relative;
    right: 8%;
  }
  .footer-ul,
  .footer-socials {
    ul {
      list-style: none;
      li {
        text-align: start;
        margin: 10px 0;
      }
    }
  }
  .footer-socials {
    position: relative;
    right: 10%;
    text-align: center;
    font-weight: bold;
    ul {
      li {
        display: inline-block;
        padding: 10px;
      }
    }
  }
  .comp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    i{
      padding: 6px;
    }
    .form {
      display: flex;
      gap: 10px;
      .txt-email1 {
        height: 32px;
        width: 200px;
      }
      .btn-sign {
        height: 32px;
        width: 100px;
        cursor: pointer;
      }
    }
  }
}

@include mobile-device1(mobile-md) {
  .footer {
    flex-direction: column;
    font-size: 13px;
    .comp-footer {
      h2 {
        text-align: center;
      }
      .comp-about {
        display: none;
      }
    }
    .footer-ul {
      display: none;
    }
    .footer-socials {
      text-align: center;
      padding: 15px;
      left: 1%;
    }
    .comp {
      text-align: center;
      justify-content: center;
      .form {
        display: grid;
        justify-content: center;
        .txt-email1 {
          height: 32px;
          width: 260px;
        }
        .btn-sign {
          height: 32px;
          width: 260px;
        }
      }
    }
  }
}

@include mobile-device-sm(mobile-lg, tablet-sm){
  .footer {
    flex-direction: column;
    font-size: 13px;
    .comp-footer {
      h2 {
        text-align: center;
      }
      .comp-about {
        display: none;
      }
    }
    .footer-ul {
      display: none;
    }
    .footer-socials {
      text-align: center;
      padding: 15px;
      left: 1%;
    }
    .comp {
      text-align: center;
      justify-content: center;
      .form {
        display: grid;
        justify-content: center;
        flex-direction: column;
        .txt-email1 {
          height: 32px;
          width: 260px;
        }
        .btn-sign {
          height: 32px;
          width: 260px;
        }
      }
    }
  }
}

@include tablet-device-sm(tablet-sm,tablet-md){
  .footer {
    flex-direction: column;
    font-size: 13px;
    .comp-footer {
      h2 {
        text-align: center;
      }
      .comp-about {
        display: none;
      }
    }
    .footer-ul {
      display: none;
    }
    .footer-socials {
      text-align: center;
      padding: 15px;
      left: 1%;
    }
    .comp {
      text-align: center;
      justify-content: center;
      .form {
        display: grid;
        justify-content: center;
        flex-direction: column;
        .txt-email1 {
          height: 32px;
          width: 260px;
        }
        .btn-sign {
          height: 32px;
          width: 260px;
        }
      }
    }
  }
}

@include screen-device-lg(tablet-lg, screen-xl){
  .footer {
    flex-direction: column;
    font-size: 13px;
    .comp-footer {
      h2 {
        text-align: center;
      }
      .comp-about {
        display: none;
      }
    }
    .footer-ul {
      display: none;
    }
    .footer-socials {
      text-align: center;
      padding: 15px;
      left: 1%;
    }
    .comp {
      text-align: center;
      justify-content: center;
      .form {
        display: grid;
        justify-content: center;
        flex-direction: column;
        .txt-email1 {
          height: 32px;
          width: 260px;
        }
        .btn-sign {
          height: 32px;
          width: 260px;
        }
      }
    }
  }
}