.footer {
  background-color: $bg-color1;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  font-family: $font-quick;

  &__about {
    width: 100%;
    max-width: 372px;
  }

  &__list-wrap {
    padding-top: 15px;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &__list-item {
    text-align: start;
    margin: 10px 0;
  }

  &__list-link {
    cursor: pointer;
    text-decoration: none;
    color: $white;
  }

  &__socials {
    text-align: center;
    font-weight: bold;
  }

  &__socials-list-item {
    display: inline-block;
    padding: 10px;
  }

  &__comp {
    display: flex;
    flex-direction: column;
    gap: 10px;

    i {
      padding: 6px;
    }
  }

  &__form {
    display: flex;
    gap: 10px;
  }

  &__txt-email1 {
    height: 32px;
    width: 200px;
    padding: 0 10px;
  }

  &__btn-sign {
    height: 32px;
    width: 100px;
    cursor: pointer;
  }
}

@include max(1015px) {
  .footer {
    flex-direction: column;

    &__comp {
      text-align: center;
      justify-content: center;
    }

    &__about {
      margin: 0 auto;
    }

    &__list {
      text-align: center;
      flex-direction: column;
    }

    &__form {
      display: grid;
      justify-content: center;
    }

    &__txt-email1 {
      height: 32px;
      width: 260px;
    }

    &__btn-sign {
      height: 32px;
      width: 260px;
    }
  }
}

@include mobile(mobile) {
  .footer {
    flex-direction: column;
    font-size: 13px;

    &__socials {
      text-align: center;
      padding: 15px;
      left: 1%;
    }

    &__form {
      justify-content: initial;
    }

    &__txt-email1,
    &__btn-sign {
      width: 100%;
      height: 40px;
    }
  }
}
