.about {
  font-family: $font-quick;

  &__container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
  }

  &__comp {
    padding: 25px;
    h1 {
      text-align: center;
    }
  }

  &__desc {
    text-align: center;
    margin: 0 auto;
    width: 59%;
  }

  &__desc-txt {
    line-height: 1.6;
  }

  &__comp-teams {
    font-family: $font-quick;
    min-height: 1200px;
    color: black;
    text-align: center;
  }

  &__main {
    display: grid;
    justify-content: center;
    padding: 20px;
  }

  &__main-pos {
    background-color: $bg-color1;
    padding: 10px;
    color: $white;
  }

  &__emp-img {
    display: block;
    width: 100%;
    max-width: 353px;
    height: 100%;
    max-height: 200px;
    object-fit: cover;

    &--ceo {
      width: 250px;
      height: 200px;
    }
  }

  &__teams {
    display: grid;
    grid-template-columns: repeat(auto-fill, 353px);
    justify-content: center;
    gap: 70px;
    padding: 25px;
  }

  &__emp {
    border: 1px solid #707070;
  }
}

@include max(910px) {
  .about {
    &__desc {
      width: initial;
    }

    &__teams {
      @include grid-col;
      grid-template-columns: repeat(2, auto) !important;
      gap: 30px;
    }

    &__emp-img {
      max-width: initial;
      max-height: initial;
      height: auto;
    }

    &__main-pos {
      padding: 0;
      font-size: 11px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
