.about-container {
  .comp-about {
    padding: 25px;
    h1 {
      text-align: center;
      position: relative;
      right: 18%;
    }
    .comp-desc {
      text-align: center;
      p {
        display: inline-block;
        width: 59%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.6;
      }
    }
  }
}

.comp-teams {
  min-height: 1200px;
  color: black;
  text-align: center;
  h1{
    text-align: center;
    position: relative;
    right: 11%;
  }
.main{
    display: grid;
    justify-content: center;
    padding: 20px;
    .emp-131{
        height: 200px;
        width: 250px;
        border: 1px solid black;
        background: url("/images/ceo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        p{
          background-color: $bg-color1;
          padding: 10px;
          color: $font-color1;
        }
      }
}
  .teams {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 70px;
    padding: 25px;
    .emp-1,
    .emp-2,
    .emp-3,
    .emp-4,
    .emp-5,
    .emp-6,
    .emp-7,
    .emp-8,
    .emp-9,
    .emp-10,
    .emp-11,
    .emp-12 {
      height: 200px;
      width: 250px;
      border: 1px solid black;
      background: url("/images/employee.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      p{
        background-color: $bg-color1;
        padding: 10px;
        color: $font-color1;
      }
    }
  }
}

@include mobile-device1(mobile-md){
.about-container{
.comp-about{
  h1{
    text-align: center;
    right: 0%;
    font-size: 16px;
  }
  .comp-desc{
    p{
      width: 250px;
      font-size: 15px;
    }
  }
}
}
.comp-teams{
  h1{
    right: 0%;
    font-size: 16px;
  }
.teams{
  grid-template-columns: repeat(1, auto);
}
}
}