.about-container {
  .comp-about {
    padding: 25px;
    h1 {
      text-align: center;
    }
    .comp-desc {
      text-align: center;
      p {
        display: inline-block;
        width: 59%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.6;
      }
    }
  }
}

.comp-teams {
  min-height: 1200px;
  color: black;
  text-align: center;
  h1{
    text-align: center;
  }
.main{
    display: grid;
    justify-content: center;
    padding: 20px;
    .emp-131{
        height: 200px;
        width: 250px;
        border: 1px solid black;
        background: url("/images/ceo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        p{
          background-color: $bg-color1;
          padding: 10px;
          color: $font-color1;
        }
      }
}
  .teams {
 @include grid-col;
    gap: 70px;
    padding: 25px;
    .emp-1,
    .emp-2,
    .emp-3,
    .emp-4,
    .emp-5,
    .emp-6,
    .emp-7,
    .emp-8,
    .emp-9,
    .emp-10,
    .emp-11,
    .emp-12 {
      height: 200px;
      width: 250px;
      border: 1px solid black;
      background: url("/images/employee.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      p{
        background-color: $bg-color1;
        padding: 10px;
        color: $font-color1;
      }
    }
  }
}

/*Mobile Device Small*/
@include mobile-device1(mobile-xx){
  .about-container{
    font-size: 15px;
    .comp-about {
      padding: 25px;
      h1 {
        text-align: center;
        position: relative;
        right: 0%;
      }
      .comp-desc {
        text-align: center;
        p {
          display: inline-block;
          width: 90%;
          text-align: left;
          margin-left: auto;
          margin-right: auto;
          line-height: 1.6;
        }
      }
    }
  }
  .comp-teams{
    text-align: center;
    h1{
      text-align: center;
      position: relative;
      right: 0%;
    }
    .teams{
     @include grid-col;
     grid-template-columns: repeat(1,auto);
    }
  }
}

@include mobile-device-sm(tablet-sm1, tablet-sm){
  .about-container{
    font-size: 15px;
    .comp-about {
      padding: 25px;
      h1 {
        text-align: center;
        position: relative;
        right: 0%;
      }
      .comp-desc {
        text-align: center;
        p {
          display: inline-block;
          width: 90%;
          text-align: left;
          margin-left: auto;
          margin-right: auto;
          line-height: 1.6;
        }
      }
    }
  }
  .comp-teams{
    font-size: 15px;
    h1{
      text-align: center;
      position: relative;
      right: 0%;
    }
    .teams{
     @include grid-col;
     grid-template-columns: repeat(2,auto);
    }
  }
}

@include tablet-device-sm(tablet-sm, tablet-md){
  .comp-teams{
    .teams{
     @include grid-col;
     grid-template-columns: repeat(2,auto);
    }
  }
}