.contacts {
  min-height: 600px;
  padding: 20px;
  font-family: $font-quick;

  &__loc {
    @include grid-center;
    text-align: center;
  }

  &__txt {
    line-height: 1.6;
  }

  &__pic {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 100px;
    background: url("/assets/images/compOffice.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    padding: 5px;
    text-align: left;
    .fas {
      padding: 10px;
    }
  }

  &__form-wrap {
    @include flex-center;
    gap: 30px;
  }

  &__label {
    display: block;
    padding: 10px;
    text-align: left;
    position: relative;
    right: 2%;
  }

  &__txtbox {
    @include textbox1;
  }

  &__txtarea {
    @include text-area;
  }

  &__btn-submit {
    @include btn-main;
    color: $white;
    background-color: $bg-color1;
  }

  &__info {
    padding: 2px;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    padding: 5px;
    .fas {
      padding: 10px;
    }
  }
}

@include mobile(mobile) {
  .contacts {
    &__form-wrap {
      @include flex-center;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 30px;
    }

    &__txtbox,
    &__txtarea {
      width: 100%;
    }
  }
}
