.landing-img {
  height: 450px;
  background: url("/images/landing-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $font-color1;
  .landing-txt {
    @include flex-col;
    text-align: center;
    position: relative;
    top: 30%;
    h1 {
      padding: 6px;
    }
    .btn-section {
      @include grid-col;
      grid-template-columns: repeat(2, auto);
      gap: 10px;
      .btn-packages,
      .btn-consult {
        @include btn-main;
        color: $bg-color1;
      }
    }
  }
}

.discounts-container {
  min-height: 135px;
  background-color: $bg-color2;
  color: $font-color1;
  .inputs {
    position: relative;
    top: 35%;
    @include grid-col;
    gap: 20px;
    font-size: 18px;
    text-align: center;
    p{
      position: relative;
      top: 22%;
    }
    .txt-email {
      height: 40px;
      width: 270px;
    }
    .btn-submit {
      @include btn-main;
      height: 40px;
    }
  }
}

.tbl-container {
  min-height: 500px;
  padding: 20px;
  @include flex-col;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
    width: 210px;
  }
}

.client-container {
  min-height: 400px;
  text-align: center;
  background-color: $bg-color3;
  color: $font-color1;
  .testimonial-grid {
    @include grid-col;
    gap: 70px;
    .client1 {
      .client-pic1 {
        height: 160px;
        width: 160px;
        background-color: white;
        border-radius: 200px;
      }
    }

    .client2 {
      .client-pic2 {
        height: 160px;
        width: 160px;
        background-color: white;
        border-radius: 200px;
      }
    }

    .client3 {
      .client-pic3 {
        height: 160px;
        width: 160px;
        background-color: white;
        border-radius: 200px;
      }
    }
  }
}

@include mobile-device1(mobile-md) {
  .landing-img {
    font-size: 14px;
    .landing-txt {
      .btn-section {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
      }
    }
  }
  .discounts-container {
    .inputs {
      grid-template-columns: repeat(1,auto);
      font-size: 15px;
      padding: 15px;
      .txt-email {
        height: 40px;
        width: 270px;
      }
      .btn-submit {
        @include btn-main;
        width: 270px;
      }
    }
  }
  .tbl-container {
    table {
      display: none;
    }
  }
}
