.services-container{
    height: 800px;
    text-align: center;
    padding-top: 70px;
    h1{
        padding: 15px;
    }
    .services{
        display: grid;
        grid-template-columns: repeat(3,auto);
        justify-content: center;
         gap:20px;
        .services1{
            border: 2px solid black;
            height: 250px;
            width: 450px;
            p{
               text-align: center;
               padding: 25px;
               font-size: 15px;
            }
            .e{
                text-align: center;
                padding: 25px;
                font-size: 15px;
            }
            .aa{
                text-align: center;
                padding: 20px;
                font-size: 15px;
            }
            .btn-con{
              .btn-inq{
                  @include btn-main;
                  color: $font-color1;
                  background-color: $bg-color1;
              }
            }
        }
    }
}