.services {
  &__container {
    text-align: center;
    padding: 100px 30px 100px;
    font-family: $font-quick;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
  }

  &__col {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 381px);
    justify-content: center;
    gap: 20px;
  }

  &__blk {
    display: flex;
    flex-direction: column;
    border: 2px solid $bg-color1;
    padding: 20px;
    width: 100%;
    max-width: 450px;
  }

  &__txt {
    margin: 20px 0 20px;
    flex-grow: 1;
  }

  &__btn {
    @include btn-main;
    color: $white;
    background-color: $bg-color1;
  }
}

@include max(841px) {
  .services {
    &__col {
      @include grid-col;
      grid-template-columns: repeat(auto-fill, 100%);
    }

    &__blk {
      max-width: initial;
    }
  }
}

@include mobile(mobile) {
  .services {
    &__container {
      padding-bottom: 20px;
    }

    &__col {
      font-size: 15px;
    }
  }
}
